*.classpath
*.project
*.settings
*bin/*
*/bin/*
*target/*
*/target/*
*.jsfdia
*.swp
*transaction.log
*/data/*
*~
*/src/main/webapp/WEB-INF/lib*
*/src/main/webapp/WEB-INF/classes*
*/src/main/webapp/app*
*.errai
*.gwt
gwt-unitCache/
rebel.xml
*.forge_settings