<div data-field="navbar" class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">

			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a data-field="brand" class="brand">SocialPM</a>

			<div data-field="collapse" class="nav-collapse">
				<ul data-field="list" class="nav pull-left"></ul>
				<ul data-field="right" class="nav pull-right">

					<li><span data-field="gravatar"></span></li>

					<li class="dropdown" style=""><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"><span>lincoln<span><b
									class="caret"></b></span></span></a>

						<ul class="dropdown-menu">
							<li><a data-field="profileLink">View your profile</a></li>
							<li>
							<li class="divider"></li>
						</ul></li>

					<li><a data-field="logout">Sign out</a></li>
					<li><a data-field="signup">Sign in</a></li>

				</ul>
			</div>
		</div>
	</div>
</div>