<div class="welcome">
	<div class="container">
		<div class="row" style="margin-top: 5px; margin-bottom: 5px;">
			<div class="span12 columns">
				<div class="pull-left">
					<div data-field="gravatar"></div>
				</div>
				<div class="pull-left" style="margin-left: 10px;">
					<h4>
						Hello there, <a data-field="profileNameLink"
							title="View your account"></a>.
					</h4>
					<p>What are you going to accomplish today?</p>
				</div>
				<div class="pull-right">
					<h4 class="pull-right">
						<span data-field="greeting"></span>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>