<div class="row">
	<div class="span6">
		<form class="form-horizontal" data-field="form">
			<fieldset>
				<legend>Your account</legend>
				<div class="control-group">
					<label class="control-label" for="username">Username</label>
					<div class="controls">
						<input data-field="username" class="input-xlarge" type="text"
							placeholder="Username" disabled="true">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input data-field="password" class="input-xlarge" type="password"
							placeholder="Password">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input data-field="email" class="input-xlarge" type="email"
							placeholder="Email">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="remember">Email privacy</label>
					<div class="controls">
						<label class="checkbox"> <input data-field="emailPrivacy"
							type="checkbox" value="option1"> Display my email address
							publicly
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="bio">Bio</label>
					<div class="controls">
						<textarea data-field="bio" class="input-xlarge" type="text"
							placeholder="A short description of yourself"></textarea>
					</div>
				</div>
				<div class="form-actions">
					<button data-field="submit" class="btn btn-primary">Save
						changes</button>
					<button data-field="cancel" class="btn">Cancel</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>














