<!DOCTYPE html>
<html lang="en">
<head>
	<title>A full HTML snippit</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="content">
				<form data-field="form">
				  <legend>Log in to your account</legend>
				
				  <label class="control-label" for="username">Username</label>
				  <input data-field="username" class="input-xlarge" id="username" type="text" placeholder="Username">
				
				  <label class="control-label" for="username">Password</label>
				  <input data-field="password" class="input-xlarge" id="password" type="password" placeholder="Password">
				
				  <button data-field="submit" class="btn btn-primary">Log in</button>
				  <button data-field="cancel" class="btn">Cancel</button>
				</form>
			</div>

			<hr>
			<footer>
				<p>© Company 2012</p>
			</footer>
		</div>
	</div>
</body>
</html>