<div class="row">
	<div class="span12">
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td align="left" style="vertical-align: top;">
						<table cellspacing="0" cellpadding="0">
							<tbody>
								<tr>
									<td align="left" style="vertical-align: top;"><div>Username</div></td>
								</tr>
								<tr>
									<td align="left" style="vertical-align: top;"><input
										data-field="username" type="text" class="input-xlarge"></td>
								</tr>
								<tr>
									<td align="left" style="vertical-align: top;"><div>Password</div></td>
								</tr>
								<tr>
									<td align="left" style="vertical-align: top;"><input
										data-field="password" type="password" class="input-xlarge"></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<a data-field="submit" class="btn primary">Log in</a>
	</div>
</div>