@CHARSET "UTF-8";

/*******************
	Story Page
********************/
.storyheader {
	width: inherit;
}

.storyheader>div.details {
	margin-right: 355px;
	float: left;
}

.storyheader>div.details>p {
	min-height: 50px;
}

div.tasks {
	margin-top: 5px;
	border: solid 1px #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}			

.separator {
	margin: 5px;
	border-top: solid 2px #ddd;
}

/******************************
		TABLES
*****************************/
.tbl {
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
}

.tbl td {
	color: #000000;
	padding: 3px;
	vertical-align: middle;
}

table.tbl thead tr th {
	background-position: left;
	background-repeat: no-repeat;
	border-bottom: 1px dashed #2387C7;
	color: #2387C7;
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
	padding-left: 18px;
}

.tbl tfoot td {
	border-top: 1px dashed #2387C7;
}

.tbl .even {
	background-color: #fefefe;
}

.tbl .odd {
	background: #e8ffe8 none repeat scroll 0 0;
}

.tbl tbody tr:hover {
	
}

/****************
 	Messages Styles
****************/
#OCPmessages {
	
}

#OCPmessages ul {
	margin: 15px 0px 15px 0px;
	list-style: none;
	padding: 0px;
	line-height: 1.2;
	font-size: 110%;
}

#OCPmessages ul li:FIRST-LETTER {
	text-transform: uppercase;
}

.OCPmessagesFatal {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fff6bf url(#{resource['ocpcommon:images/alerts/fatal_medium.gif']}) center
		no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	margin: 5px;
	padding: 5px 20px 5px 45px;
	border: 1px solid #ffd324;
	border-top: 2px solid #ffd324;
}

.OCPmessagesError {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fff6bf url(#{resource['ocpcommon:images/alerts/fatal_medium.gif']}) center
		no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	margin: 5px;
	padding: 5px 20px 5px 45px;
	border: 1px solid #ffd324;
	border-top: 2px solid #ffd324;
}

.OCPmessagesWarning {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fdfdcf url(#{resource['ocpcommon:images/alerts/warning_medium.gif']}) center
		no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	margin: 5px;
	padding: 5px 20px 5px 45px;
	border: 1px solid #ffe814;
	border-top: 2px solid #ffe814;
}

.OCPmessagesInfo {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #f8fafc url(#{resource['ocpcommon:images/alerts/info_medium.gif']}) center
		no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	margin: 5px;
	padding: 5px 20px 5px 45px;
	border: 1px solid #b5d4fe;
	border-top: 2px solid #b5d4fe;
}